<div class="login-wrapper">
  <div class="login-container">
    <div class="login-card">
      <div class="logo-wrapper">
        <h1>Leitura Encantada</h1>
        <p>Módulo do Educador</p>
      </div>

      <div class="login-action">
        <app-button variant="google" (action)="login()">
          <img src="https://upload.wikimedia.org/wikipedia/commons/c/c1/Google_%22G%22_logo.svg" alt="Google Logo" class="google-icon" style="width: 20px; height: 20px;" />
          <span>Entrar com o Google</span>
        </app-button>
      </div>
    </div>
  </div>
</div>
