section{
  margin: 38px 0;
}
.wrapper-img{
  width: 100%;
  max-width: 728px;
  height: auto;
  margin: auto;
  img{
    width: 100%;
    height: auto;
  }
}

.read-button {
  margin: auto;
  width: fit-content;
  margin-top: 2.5rem;
}
