:root {
  --orange: #FF9F1C;
  --light-orange: #FFBF69;
  --green: #2EC4B6;
  --light-green: #CBF3F0;
  --white: #FFFFFF;
  --gray-1: #333;
}

//RESET CSS

a {
  text-decoration: none;

}

* {
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}

button {
  border: none;
  cursor: pointer;
}

// END RESET CSS

body {
  background-color:  var(--light-green);
  overflow: hidden;
  padding: 2rem 2.4rem;
}
